$alert-color : rgba(0, 0, 0, 0.619) !important;
$confirm-color : rgba(0, 0, 0, 0.543) !important;

.alert-popup {
    background-image: linear-gradient(315deg, #766a6587 0%, #c6b94c 74%);
}

.alert-icon {
    color: $alert-color;
    border-color: $alert-color;
}

.alert-title {
    color: $alert-color;
}

.alert-confirm-button{
    background-color: $confirm-color;
}