.add-book-container {
    height: 100%;
    min-height: 340px;
    border-radius: 9px;
    background-color: rgb(221, 218, 119);
    padding: 5px;
    padding-top: 50px;

    button {
        font-size: 3rem;
        border: none;
        border-radius: 50%;
        padding: 10px 30px;
        background-color: rgba(255, 255, 255, 0.31);
        color: rgb(109, 109, 109);
        cursor: pointer;
        outline: none;
        font-family: handlee;
        transition: 0.2s;

        &:hover {
            background: #ddd;
            transition: 0.2s;
            color: rgb(255, 0, 0);
        }
    }

    .btn-close-adding-mode {
        font-size: 1.1rem;
        padding: 5px 12px;
        position: absolute;
        top: 7px;
        right: 7px;
        background-color: none;

        &:hover {
            color: rgb(0, 0, 0);
        }
    }

    .google-icon {
        max-width: 30px;
        position: absolute;
        left: 20px;
        top: 8px;
        opacity: 0.8;
    }

    p {
        font-size: 1.7rem;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .add-book-back-side {
        display: block;
        position: fixed;
        height: 80%;
        width: 90%;
        background-color: rgb(221, 218, 119);
        z-index: 2;
        margin: 0 auto;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px 5px 5px;
        border-radius: 10px;

        h1 {
            font-size: 1.3rem;
        }

        p {
            font-size: 1.7rem;
            margin-bottom: 0;
        }
    }
}

.search-google-book-section {
    padding: 0 5px;

    input {
        border: none;
        display: block;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        font-size: 1.3rem;
        text-overflow: ellipsis;
        outline: none;
        animation: open 0.8s;

        &:focus {
            background-color: rgb(240, 240, 214);
            border-radius: 5px 5px 0 0;
        }
    }

    .google-books-autocomplete {
        background-color: #fff;
        width: 100%;
        max-height: 100px;
        border-radius: 0px 0px 5px 5px;
        overflow-y: scroll;

        p {
            font-size: 1rem;
            text-align: left;
            padding: 0 5px;
            color: rgb(101, 101, 101);
            border-bottom: 1px rgba(128, 128, 128, 0.338) solid;
            font-family: sans-serif;
        }
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .add-book-container {
        p {
            margin-bottom: 60px;
        }

        button {
            padding: 50px 70px;
        }


        .btn-close-adding-mode {
            padding: 9px 15px;
        }

        .add-book-back-side {
            position: static;
            height: unset;
            background-color: unset;
            transform: unset;
            padding: unset;

            h1 {
                font-size: 2.5rem;
            }
        }
    }
}