input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    transition: 0.2s;
    background: #d4f403;
    border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(223, 222, 222);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;

}

input[type=range]:hover {
    background: #c4cb36c8;
    ;
}

.filter-by-price {
    position: relative;

    .filter-by-price-icon {
        max-width: 40px;
        margin-right: 20px;
    }

    input {
        width: 60%;
        max-width: 435px;

        &:focus {
            width: 60%;
        }
    }
}

.range-value {
    margin-top: 20px;

    span {
        width: 100px;
        padding: 5px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #c0dc0825;
        color: rgb(14, 14, 14);
        font-size: 1.3rem;
        display: block;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 10px;
        display: inline;
    }
}